[Unit]
Description=USB Printer Gadget
#After=network.target sysinit.target
After=local-fs.target sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/setup_g_printer.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target